<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/PaintShop.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%level] [%d{dd/MM/YYYY HH:mm:ss.SSS}] [%thread] [%logger] %message%n%xException</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="stdoutlogger" level="OFF">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="filelogger" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
